<div class="client-form"> 
    <div class="title">
        contact management system
    </div>
    <form [formGroup]="clientForm" (ngSubmit)="saveClient()">
        <div class="input_field">
            <label> Firstname </label>
            <input  class="input" type="text" name="firstnameTxt" formControlName="firstname" required />
        </div>
        <div class="input_field">
            <label> Lastname </label>
            <input class="input" type="text" name="lastnameTxt" formControlName="lastname" required />
        </div>
        <div class="input_field">
            <label> Email </label>
            <input type="email"  class="input" name="emailTxt" formControlName="email" required />
        </div>
        <div class="input_field">
            <label> Telephone </label>
            <input type="tel" name="telephoneTxt"  class="input" formControlName="telephoneNumber" />
        </div>
        <div class="input_field">
            <label> Company Name </label>
            <input  class="input" type="text" name="companyTxt" formControlName="companyName" required />
        </div>
        <div class="input_field"><button type="submit" [disabled]="!clientForm.valid">Save</button></div>
    </form>
</div>

